{% extends 'bmi/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row align-items-center py-2">
        <div class="col-md-12 text-center">
            <h3>BMI CALCULATOR</h3>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md-6 col-sm-12 col-xs-12">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-metric-tab" 
                    data-bs-toggle="pill" data-bs-target="#pills-metric" 
                    type="button" role="tab" aria-controls="pills-metric" 
                    aria-selected="true">Metric</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-imperial-tab" 
                    data-bs-toggle="pill" data-bs-target="#pills-imperial" 
                    type="button" role="tab" aria-controls="pills-imperial" 
                    aria-selected="false">Imperial
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-metric" 
                role="tabpanel" aria-labelledby="pills-metric-tab">
                    <form action="{% url 'bmi:index' %}" method="post">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>  
                </div>
                <div class="tab-pane fade" id="pills-imperial" 
                role="tabpanel" aria-labelledby="pills-imperial-tab"><h4>Imperial table</h4></div>
                
            </div>
        </div>


    </div>
{% endblock content %}